# Editor
export EDITOR=$(which nano)
export VISUAL="code"

# Zsh history
export HISTFILE="$HOME/.zhistory"
export HISTSIZE="25600"
export SAVEHIST="${HISTSIZE}"

# Language
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# Manual pages
export LESS_TERMCAP_md="$(printf '\e[1;31m')"
export MANPAGER="less -X"

# Golang
export GOPATH="${HOME}/go"

# Pure prompt
export PURE_CMD_MAX_EXEC_TIME=10

# Homebew
export HOMEBREW_NO_ANALYTICS=1

# Composer
export COMPOSER_MEMORY_LIMIT=-1

# Nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# Node
export NODE_REPL_HISTORY=~/.node_history;
export NODE_REPL_HISTORY_SIZE='32768';

[ -f "${HOME}/.exports-private" ] && source "${HOME}/.exports-private"
